<% layout('layouts/template') %>
    <div id="cluster-map"></div>
    <h1>瀏覽各地的餐廳</h1>
    <div class="row">
        <% for(let rest of restaurants){ %>
            <div class="card mb-3 me-3 border-secondary col-lg-4 p-0">
                <% if(rest.images.length){ %>
                    <img src="<%= rest.images[0].url %>" alt="" class="card-img-top indexImg">
                    <% }else{ %>
                        <img src="http://img.yao51.com/jiankangtuku/awhusrhx.jpeg" alt="" class="card-img-top indexImg">
                        <% } %>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= rest.title %>
                                </h5>
                                <p class="card-text">
                                    <%= rest.description %>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <%= rest.location %>
                                    </small>
                                </p>

                            </div>
                            <div class="d-grid gap-2">
                                <a href="/restaurants/<%= rest.id %> " class="btn btn-secondary">
                                    『<%= rest.title %>』詳細資訊頁面
                                </a>
                            </div>
            </div>
            <% } %>
    </div>
    <script type="text/javascript">
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const rest = '<%- JSON.stringify(restaurants) %>';
        const restaurants = JSON.parse(rest);
    </script>

    <script src="/clusterMap.js"></script>